body {
    font-family: Arial,sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 40px 0;
    tex-align: center;
}

nav {
    background-color: #333;
}

nva a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    backgtound -color: #575757
}

section {
    psdding: 30px;
    max-width: 900px;
    margin: auto;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
