name: Deploy to Alibaba Cloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 121.41.110.105
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /data/www
            git pull origin main
